In [1]:
import pandas as pd
import os

In [2]:
#raw csvs can be downloaded here https://github.com/DomSamangy/NBA_Shots_04_24/tree/main
raw_folder_path = 'data\\raw'
folder_list = os.listdir(raw_folder_path)
print(folder_list)

['NBA_2004_Shots.csv', 'NBA_2005_Shots.csv', 'NBA_2006_Shots.csv', 'NBA_2007_Shots.csv', 'NBA_2008_Shots.csv', 'NBA_2009_Shots.csv', 'NBA_2010_Shots.csv', 'NBA_2011_Shots.csv', 'NBA_2012_Shots.csv', 'NBA_2013_Shots.csv', 'NBA_2014_Shots.csv', 'NBA_2015_Shots.csv', 'NBA_2016_Shots.csv', 'NBA_2017_Shots.csv', 'NBA_2018_Shots.csv', 'NBA_2019_Shots.csv', 'NBA_2020_Shots.csv', 'NBA_2021_Shots.csv', 'NBA_2022_Shots.csv', 'NBA_2023_Shots.csv', 'NBA_2024_Shots.csv']

In [3]:
#importing the csvs as dataframes and storing them in a dict
raw_dataframes = {}
for file in folder_list:
    year = file.split('_')[1] #getting the year to use it as the name for the df
    raw_dataframes[year] = pd.read_csv(raw_folder_path + '\\' + file)

In [4]:
raw_dataframes['2004'].info()
#besides the date, every data type was inferred correctly.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 189803 entries, 0 to 189802
Data columns (total 26 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   SEASON_1        189803 non-null  int64
 1   SEASON_2        189803 non-null  object
 2   TEAM_ID         189803 non-null  int64
 3   TEAM_NAME       189803 non-null  object
 4   PLAYER_ID       189803 non-null  int64
 5   PLAYER_NAME     189803 non-null  object
 6   POSITION_GROUP  189803 non-null  object
 7   POSITION        189803 non-null  object
 8   GAME_DATE       189803 non-null  object
 9   GAME_ID         189803 non-null  int64
 10  HOME_TEAM       189803 non-null  object
 11  AWAY_TEAM       189803 non-null  object
 12  EVENT_TYPE      189803 non-null  object
 13  SHOT_MADE       189803 non-null  bool
 14  ACTION_TYPE     189803 non-null  object
 15  SHOT_TYPE       189803 non-null  object
 16  BASIC_ZONE      189803 non-null  object
 17  ZONE_NAME       189803 non-null  object
 18  ZONE_ABB        189803 non-null  object
 19  ZONE_RANGE      189803 non-null  object
 20  LOC_X           189803 non-null  float64
 21  LOC_Y           189803 non-null  float64
 22  SHOT_DISTANCE   189803 non-null  int64
 23  QUARTER         189803 non-null  int64
 24  MINS_LEFT       189803 non-null  int64
 25  SECS_LEFT       189803 non-null  int64
dtypes: bool(1), float64(2), int64(8), object(15)
memory usage: 36.4+ MB

In [5]:
#fixing the date format
for year,df in raw_dataframes.items():
    raw_dataframes[year].GAME_DATE = pd.to_datetime(raw_dataframes[year]['GAME_DATE'], dayfirst=False)

In [9]:
#data should be sorted by the date, then by GameID, then by teamID and then by playerID
raw_dataframes['2004'].sort_values(['GAME_DATE','GAME_ID', 'TEAM_ID', 'PLAYER_ID']).head(5)

,SEASON_1,SEASON_2,TEAM_ID,TEAM_NAME,PLAYER_ID,PLAYER_NAME,POSITION_GROUP,POSITION,GAME_DATE,GAME_ID,...,BASIC_ZONE,ZONE_NAME,ZONE_ABB,ZONE_RANGE,LOC_X,LOC_Y,SHOT_DISTANCE,QUARTER,MINS_LEFT,SECS_LEFT
189408,2004,2003-04,1610612748,Miami Heat,224,Eddie Jones,G,SG,2003-10-28,20300001,...,Above the Break 3,Left Side Center,LC,24+ ft.,18.1,27.95,29,4,6,12
189415,2004,2003-04,1610612748,Miami Heat,224,Eddie Jones,G,SG,2003-10-28,20300001,...,Mid-Range,Left Side,L,16-24 ft.,19.5,3.95,19,4,7,4
189424,2004,2003-04,1610612748,Miami Heat,224,Eddie Jones,G,SG,2003-10-28,20300001,...,Above the Break 3,Right Side Center,RC,24+ ft.,-20.0,23.55,27,4,7,46
189426,2004,2003-04,1610612748,Miami Heat,224,Eddie Jones,G,SG,2003-10-28,20300001,...,In The Paint (Non-RA),Center,C,8-16 ft.,-5.9,17.55,13,4,8,4
189448,2004,2003-04,1610612748,Miami Heat,224,Eddie Jones,G,SG,2003-10-28,20300001,...,In The Paint (Non-RA),Center,C,8-16 ft.,0.8,14.25,9,4,10,33

In [10]:
raw_dataframes['2004'].sort_values(['GAME_DATE','GAME_ID', 'TEAM_ID', 'PLAYER_ID']).tail(5)
#looks good

,SEASON_1,SEASON_2,TEAM_ID,TEAM_NAME,PLAYER_ID,PLAYER_NAME,POSITION_GROUP,POSITION,GAME_DATE,GAME_ID,...,BASIC_ZONE,ZONE_NAME,ZONE_ABB,ZONE_RANGE,LOC_X,LOC_Y,SHOT_DISTANCE,QUARTER,MINS_LEFT,SECS_LEFT
1622,2004,2003-04,1610612758,Sacramento Kings,1802,Brad Miller,F,PF,2004-04-14,20301189,...,Restricted Area,Center,C,Less Than 8 ft.,-2.0,6.55,2,1,0,31
1671,2004,2003-04,1610612758,Sacramento Kings,1802,Brad Miller,F,PF,2004-04-14,20301189,...,In The Paint (Non-RA),Center,C,8-16 ft.,3.6,13.35,8,1,1,1
401,2004,2003-04,1610612758,Sacramento Kings,2443,Darius Songaila,F,PF,2004-04-14,20301189,...,In The Paint (Non-RA),Center,C,Less Than 8 ft.,-3.4,7.85,4,4,7,58
475,2004,2003-04,1610612758,Sacramento Kings,2443,Darius Songaila,F,PF,2004-04-14,20301189,...,Restricted Area,Center,C,Less Than 8 ft.,-0.0,5.25,0,4,10,17
523,2004,2003-04,1610612758,Sacramento Kings,2443,Darius Songaila,F,PF,2004-04-14,20301189,...,Restricted Area,Center,C,Less Than 8 ft.,-2.6,8.25,3,4,11,3

In [7]:
for year, df in raw_dataframes.items():
   raw_dataframes[year].sort_values(['GAME_DATE', 'GAME_ID', 'TEAM_ID', 'PLAYER_ID'], inplace = True)

In [8]:
#now that the data is sorted I can combine all the DFs into one
complete_dataframe = pd.concat(list(raw_dataframes.values()), axis=0).reset_index(drop=True)

In [11]:
#need to create a new col that will have the actual points scored based on shot type and shot made
complete_dataframe['SHOT_TYPE'].head(5)

0    3PT Field Goal
1    2PT Field Goal
2    3PT Field Goal
3    2PT Field Goal
4    2PT Field Goal
Name: SHOT_TYPE, dtype: object

In [12]:
complete_dataframe['SHOT_MADE'].head(5)

0    False
1     True
2    False
3    False
4    False
Name: SHOT_MADE, dtype: bool

In [ ]:
two_pts = (complete_dataframe['SHOT_MADE'] == True) & (complete_dataframe['SHOT_TYPE'] == '2PT Field Goal')
three_pts = (complete_dataframe['SHOT_MADE'] == True) & (complete_dataframe['SHOT_TYPE'] == '3PT Field Goal')

In [15]:
#I will create a new points col, set it to 0, and then use the masks to assign 2 or 3
complete_dataframe['Points'] = 0
complete_dataframe.loc[two_pts, 'Points'] = 2
complete_dataframe.loc[three_pts, 'Points'] = 3

In [22]:
complete_dataframe[['SHOT_TYPE', 'SHOT_MADE', 'Points']].tail(10)

              SHOT_TYPE  SHOT_MADE  Points
4231252  3PT Field Goal       True       3
4231253  3PT Field Goal      False       0
4231254  2PT Field Goal       True       2
4231255  3PT Field Goal      False       0
4231256  2PT Field Goal      False       0
4231257  2PT Field Goal      False       0
4231258  2PT Field Goal       True       2
4231259  2PT Field Goal       True       2
4231260  2PT Field Goal       True       2
4231261  2PT Field Goal       True       2

In [23]:
#saving the data as a pickle
file_name = 'full_data_pickle.pkl'
transformed_path = 'data\\Transformed'
complete_dataframe.to_pickle(transformed_path + '\\' + file_name)